.googlepic {
    margin: auto;
    width: 272px;
}

.searchbar {
    margin: auto;
    width: 272px;
}

.buttons {
    display: inline;
    margin: auto;
    width: 200px;
}

.searchbar {
    width: 272px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding: 8px;
}